
.gitignore

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# Firebase
.firebase/
firebase-debug.log
*.runtime.log

# TypeScript (Evitar que se suban compilaciones locales accidentales)
src/**/*.js
src/**/*.js.map