@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

/* Rules to apply by default to all elements */
* {
	margin: 0;
	padding: 0;
	font-family: 'Roboto' , 'arial';
}

/* VARIABLES */
:root{
	/* COLORS _______________________________*/
	--primary: #1fa2ff;
	--primary_100: #4eb2f9;
	--primary_200: #7ac7ff;
	--primary_300: #a8dbff;
	--background_main: #B7D4B0;
	--background_content: #a4a4a4;
	--background_content_100: #c3bebe;
	--background_content_200: #d9d4d4;
	--background_sidebar: #454545;
	--background_card: #2c2c2c;
	--background_card_100: #535353;
	--background_card_200: #7b7b7b;

	/* FONT SIZES _____________________________ */
	--font_xs: 10px;
	--font_sm: 12px;
	--font_base: 14px;
	--font_lg: 16px;
	--font_xl: 18px;
	--font_2xl: 20px;
	--font_3xl: 22px;
	--font_4xl: 24px;
	--font_5xl: 26px;
}

/* BODY (without #) the body of the webpage */
body {
	display: grid;
	grid-template-columns: 250px 1fr;
	grid-template-areas: 'sidebar content';
	height: 100vh;
	background-color: var(--background_main);
	color: #ffffffde;
}

/* GENERAL STYLES */

/* for titles*/
h2{
	font-size: var(--font_3xl);
}
h3{
	font-size: var(--font_2xl);
}
h4{
	font-size: var(--font_xl);
}
h5{
	font-size: var(--font_lg);
}

button {
	padding: 1px 8px;
	height: 22px;
	cursor: pointer;
	border-radius: 100px;
	color: white;
	background-color:var(--primary);
	font-size: 11px;
	font-family: Roboto;
	transition: background-color 0.3s ease; /* Para que el cambio sea suave */
}

button:hover{
	background-color: var(--primary_200);
}

/* SIDEBAR ____________________________________________________________________ */

#sidebar {
	background-color: var(--background_sidebar);
	display: flex;
	flex-direction: column;
	row-gap: 25px;
	padding: 20px;
	color: white;
}

#company-logo{
	height: 70px;
} 

#nav-list { /* Cambiado a kebab-case para seguir las buenas prácticas */
	display: flex;
	flex-direction: column;
	gap: 5px;
	padding: 0;      /* Remueve el padding por defecto que traen las listas (ul) */
	margin: 0;       /* Remueve el margin por defecto */
	list-style: none; /* Quitamos los puntos (bullets) aquí, en el contenedor padre */
}

/* For styling the button INSIDE the list item */
#nav-list .nav-button {
	display: flex;
	align-items: center;
	gap: 15px;
	padding: 10px;
	border-radius: 15px;
	font-size: var(--font_xl);
	cursor: pointer;
	height: 40px;
	
	/* RESET DE BOTÓN: Esto es clave para limpiar los estilos por defecto del navegador */
	background: transparent; 
	border: none;
	color: white; /* Hereda el color blanco que tenías */
	width: 100%;  /* Hace que el botón ocupe todo el ancho disponible */
	text-align: left; /* Alinea el texto a la izquierda */
}

/* (Pseudo-Class) For coloring when the User hovers over the button */
#nav-list .nav-button:hover {
	background-color: var(--primary);
}


/* MAIN CONTENT ______________________________________________________________________*/

/* For Header: */
header {
	padding: 30px 20px 40px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#content{
	background-color: var(--background_content);
}


/* __________________________________________________
/* For Project List horizontally displayed*/
#projects_list {
	display: grid;
	padding: 20px;
	/* Crea columnas de mínimo 240px y máximo lo que sobre de espacio */
	grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
	gap: 20px; /* Espacio entre las tarjetas */
	align-items: start; /* Evita que las tarjetas se estiren verticalmente si tienen poco contenido */
}

/* For Style PROJECT CARDS __________________________________ */
.project_card{
	background-color: var(--background_card_100);
	border-radius: 10px;
	padding: 10px;
	cursor: pointer;
}
.project_card:hover{
	outline: 3px solid var(--primary);
}

/* ***********************   CARDS   ************************************ */

.card_header {
	display: flex;
	column-gap: 15px; /* Reducido un poco para dar más espacio al texto */
	padding: 15px 20px;
	justify-content: flex-start;
	align-items: center;
	border-bottom: 2px solid #cacaca;
	
	/* 🚀 CAMBIO CLAVE: Quitamos height fijo y usamos min-height o dejamos que respire */
	min-height: 50px; 
}

/* Modifica el contenedor del texto dentro del header */
.card_header div {
	display: flex;
	flex-direction: column;
	min-width: 0; /* Permite que los textos internos se enteren del ancho real */
	flex-grow: 1; /* Hace que use todo el espacio restante */
}

/* 🚀 NUEVO: Control estricto para el título y la descripción de la tarjeta */
.card_header h3, .card_header h4, .card_header h5{
	margin: 0;
	font-size: var(--font_xl);
	white-space: nowrap;      /* Fuerza al título a estar en una sola línea */
	overflow: hidden;         /* Oculta lo sobrante */
	text-overflow: ellipsis;  /* Agrega el "..." si es muy largo */
}

[data-project-info="initials"] {
	/* background-color: #ca8134; */
	background-color: #30e7a1;
	padding: 10px;
	border-radius: 8px;
	aspect-ratio: 1;
	color: #ffffff;
	font-size: var(--font_3xl);
	font-weight: bold;
	text-align: center;
}

[data-project-info="description-cards"]{
	color: #b7b7b7;
	font-size: var(--font_sm);
	margin-top: 2px;
	
	/* EFECTO TRUNCADO MULTILÍNEA: Corta a máximo 2 líneas y pone "..." */
	display: -webkit-box;
	-webkit-line-clamp: 2; 
	line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	
	/* Seguridad por si escriben una palabra gigante sin espacios */
	word-break: break-all;
}


.card_content {
	display: flex;
	flex-direction: column;
	row-gap: 12px;
	align-items: start;
	padding: 10px 20px;	
}

/* for card property */
.card_property{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

/* for THE FORM _________________________________________________ */

/* The main Container */
dialog{
	background-color: transparent;
	border: none;
	margin: auto;
}

/* For the back of the form screen */
dialog::backdrop{
	background-color: rgba(0, 0, 0, 0.494);
	backdrop-filter: blur(3px);
}

/* For the actual Form */
form{
	width: 450px;
	border-radius: 12px;
	background-color: var(--background_content_100);
	color: rgb(255, 255, 255);
}

/* For the h2 titles inside form */
form h2{
	padding: 20px;
	border-bottom: 2px solid white;
}

/* For the List of Inputs */
form .input_list{
	display: flex;
	flex-direction: column;
	row-gap: 25px;
	padding: 20px;
}

/* for the Field Containers */
form .form_field_container{
	display: flex;
	flex-direction: column;
}

input, textarea, select{
	color: white;
	background-color: var(--background_content_200);
	padding: 15px;
	border-radius: 8px;
	border: none;
	font-size: var(--font_base);
}

/* When the User clicks inside the Area */
input:focus, textarea:focus, select:focus{
	outline: 3px solid var(--primary_200);
}

/* For aling and separate the icon and the label name */
form .form_field_container label {
	display: flex;
	align-items: center;
	gap: 5px;
}

/* Buttons Form ____________________________*/
/* For aling and separate the buttons */
#form_buttons {
	display: flex;
	justify-content: flex-end;
	gap: 10px;
	padding: 5px 20px;
}

.accept_btn {
	background-color: green;
	border-color: green;
	border-width: 0px;
}
.cancel_btn {
	background-color: transparent;
	border-width: 0px;
}

/* ____________________________________________________ */
/* PROJECT DETAILS PAGE */

.page{
	display: flex;
	flex-direction: column;
	height: 100%;
}

/* The "SWITCH" to hide a page*/
.page.hidden { /* it says have BOTH classes together */
	display: none !important; /* "!important" means this rule is OVER any other*/
} 

.dashboard_card{
	background-color: var(--background_card_100);
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	padding: 20px;
}
.dashboard_card.viewer{
	/* background-color: var(--background_card); */

	/* Flexibilidad basada en el diseño del navegador */
    width: 100%;
    height: 100%;
    
    /* Importante para contener el Canvas de Three.js */
    position: relative;
    overflow: hidden;

}


/*  Evita que el canvas empuje el contenedor hacia abajo */
.dashboard_card.viewer canvas {
    display: block;       /* Quita el comportamiento de línea (inline) que causa el margen extra hacia abajo */
    position: absolute;   /* Lo saca del flujo de texto para que no empuje el contenedor */
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}


#project_details_page header{
	padding: 30px 20px 0px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#project_details_page > .main_page_content{
	display: grid;
	padding: 20px 30px;
	gap: 10px;
	grid-template-columns: 350px 1fr;
	height: 100%;
}

#project_details_page [data-project-info="initials"]{
	display: flex;
	margin: 0;
	background-color: #c86918;
	width: 40px;
	height: 40px;
	border-radius: 8px;
	align-items: center;
	justify-content: center;
	font-size: var(--font_5xl);
	font-weight: bold;	
}


#user_details_page > .main_page_content{
	display: grid;
	padding: 20px 30px;
	gap: 10px;
	grid-template-columns: 350px 1fr;
	height: 100%;
}

.sub_btn {
	background-color: var(--background_content_100);
	border-width: 1.8px;
	border-color: #e5e5ea;
	border-style: solid;
	color:white;
	font-size: 13px;
}

#btn_create_todo {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: var(--font_3xl);
}

/* For Import/Export JSON files*/
.ex-im-files:hover{
	background-color: var(--primary_200);
	cursor: pointer;
}


.details_container{
	display: flex;
	width: 100%;
}

.details_container > div {
	flex: 1; /* Esto obliga a los 4 divs a estirarse y dividirse el espacio en partes exactamente iguales */	
}
.details_container > div > p {
	font-size: 14px; /* Modifica el tamaño de la fuente */	
}

/* 🚀 LA MAGIA DE LAS ALINEACIONES COMIENZA AQUÍ: */
/* El primero de todos alineado a la izquierda */
.details_container > div:first-child {
	text-align: left;
}
/* El último de todos alineado a la derecha */
.details_container > div:last-child {
	text-align: right;
}
/* Los contenedores que NO sean ni el primero ni el último se alinean al centro */
.details_container > div:not(:first-child):not(:last-child) {
	text-align: center;
}


/* USER DETAILS CONTAINER */
.user_details_container{
	display: flex;
	width: 100%;
}

.user_details_container > div {
	flex: 1; /* Esto obliga a los 4 divs a estirarse y dividirse el espacio en partes exactamente iguales */	
}
.user_details_container > div > p {
	font-size: 14px; /* Modifica el tamaño de la fuente */	
}

/* 🚀 LA MAGIA DE LAS ALINEACIONES COMIENZA AQUÍ: */
/* El primero de todos alineado a la izquierda */
.user_details_container > div:first-child {
	text-align: left;
}
/* El último de todos alineado a la derecha */
.user_details_container > div:last-child {
	text-align: right;
}
/* Los contenedores que NO sean ni el primero ni el último se alinean al centro */
.user_details_container > div:not(:first-child):not(:last-child) {
	text-align: center;
}

/* BARRA DE PROGRESO */
/* 1. El fondo de la barra (Gris oscuro) */
.progress_container {
	/* display: flex; */
	width: 100%;                  /* Ocupa todo el ancho disponible */
	background-color: #858585;    /* Color gris oscuro de fondo */
	height: 28px;                 /* Altura de la barra */
	border-radius: 14px;          /* Bordes completamente redondeados */
	margin-top: 20px;             /* Separa la barra de los detalles de arriba */
	overflow: hidden;             /* Esconde cualquier esquina del hijo que intente salirse */
}

/* 2. El relleno de la barra (Verde relleno) */
.progress_bar {
	height: 100%;                 /* Ocupa todo el alto del padre */
	background-color: #00aa00;    /* Color verde brillante */
	border-radius: 14px;          /* Mismo redondeado para que encaje perfecto */
	/* width: 80%;   */                 /* El porcentaje ocupado del Padre
	
	/* Flexbox aquí para centrar el texto "80%" vertical y horizontalmente */
	display: flex;
	align-items: center;
	justify-content: center;
	
	/* Animación opcional para que se vea premium al cargar */
	transition: width 0.5s ease-in-out; 
}

/* 3. El texto del porcentaje (80%) */
.progress_text {
	color: #ffffff;               /* Texto blanco */
	font-size: 14px;              /* Tamaño de letra adecuado */
	font-weight: bold;            /* Letra negrita para que resalte */
}



/* USERS PAGE ____________________________________________________________________ */

.table_header_titles{
	display: flex;
	width: 100%;
	padding: 0px;/* 👈 Ponemos 0 a los lados para que use todo el ancho horizontal */
	background-color: transparent; /* O el color que prefieras */
	border-bottom: solid #c7bfbf 1px; /* Una línea sutil abajo para cerrar la fila */
	font-weight: 500;
}

/* 🚀 Cada una de las 6 columnas de la tabla */
.table_header_titles > div {
	flex: 1;              /* Se dividen el espacio exactamente en 6 partes iguales */
	text-align: center;   /* Centra el texto dentro de su propia porción */
	padding: 12px 10px;      /* Espacio interno para que el texto no toque los bordes */
}

/* 🎯 El truco de las líneas divisorias */
.table_header_titles > div:not(:last-child) {
	border-right: solid #c7bfbf 2px; /* Añade un borde a la derecha a todos, MENOS al último */
}

.info_users_card{
	display: flex;
	width: 100%;
	text-align: center;
}
.info_users_card > div{
	flex: 1;
	align-items: center;
	justify-content: center;
	padding: 9px;
	overflow: hidden; /* Evita que el correo empuje las paredes del div */
}

.info_users_card:hover{
	background-color: var(--primary_200);
}

.info_users_card > div > p {
	margin: 0;
	/* 🚀 TRUCO DE RECORTE: */
	text-wrap: nowrap;       /* Fuerza a que el texto esté en una sola línea */
	overflow: hidden;          /* Esconde todo lo que se salga del div */
	text-overflow: ellipsis;   /* Reemplaza el texto oculto por "..." */
	font-size: var(--font_base);
}

#users_list{
	display: flex;
	flex-direction: column;
}


/* ERROR MODAL __________________________________________________ */

/* Main Container */
#error_modal{

	background-color: transparent;

	border: none;

	margin: auto;
}

/* Backdrop */
#error_modal::backdrop{

	background-color: rgba(0, 0, 0, 0.55);

	backdrop-filter: blur(4px);
}

/* Content */
.error_modal_content{

	width: 380px;
	background-color: var(--background_card);
	border-radius: 14px;
	padding: 25px;
	display: flex;
	flex-direction: column;
	gap: 25px;
	box-shadow: 0px 10px 40px rgba(0,0,0,0.35);
	border: solid 1px rgba(255,255,255,0.08);
	animation: modalAppear 0.35s ease; /* For Animation (in the end of the file is defined the Animations*/

}

/* Header */
.error_modal_header{

	display: flex;
	align-items: center;
	gap: 12px;
	color: #ffffff;
}

.error_modal_header span{

	color: #ff5b5b;
	font-size: 32px;	
}


/* Error Message */
#error_message{

	color: rgba(255,255,255,0.82);
	line-height: 1.6;
	font-size: var(--font_base);
}

/* Footer */
.error_modal_footer{

	display: flex;
	justify-content: flex-end;
}



/* To-Do MODAL FORM ................................................*/

#todo_list_container{
	display: flex;
	flex-direction:column;
	row-gap: 10px;
}

#to-do_input_container{
	display: flex;
	flex-direction: column;
}

/* TO-DO Container_______________________________ */
.to-do_Item{
	padding: 20px;
 	background-color: var(--background_content_200);
	border-radius: 10px;
	/* cursor: pointer; */
}



/* ANIMATIONS........................................................ */

/* For the Modal Error */
@keyframes modalAppear{
	from{
		opacity: 0;
		transform: translateY(0px) scale(0.56);
	}
	to{
		opacity: 1;
		transform: translateY(0px) scale(1);
	}
}